# Fundamentals of Data Science - Week 5 and Week 6

###  <span style='color: green'>Scroll down to the bottom of the notebook to see your assignment</span> 
<p></p>
<span style='color: red'>Deadline: **25.10.2017 (Wednesday) at 23:55 CEST**</span>

In this notebook, the first section is going to cover the following practical aspects of data science:
+ Creating a Linear Regression model
+ Predicting the model on unseen data and calculating error on the predicted score vs orginal score
+ Create a simple linear regression (with a single variable and a target) on the Diabetes dataset
+ Fit a linear model on the data and plot it
+ Create multivariate linear regression to predict house prices in Boston
+ Plot correlation between variables, predicted price vs original price and calculate mean square errors

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
import seaborn as sns

The <b>mean squared error</b> has increased. So this shows that a single feature is not a good predictor of housing prices.

** To-Do 1: Make a train-test split and calculate the mean squared error for training data and test data.**

** To-Do 2: Plot the residuals for training and test datasets**

**In the next section, we are going to read in a feather file and assemble the dataset in one Pandas dataframe that we can work with.**
Refer to the "explore_questionnaire.pdf" in the folder for detailed explanation of the dataset.

<img src="./w56.png"/>

To install and run feather use:

**pip install feather-format** -- or else, (if you get import error) **pip install feather-format**

In [3]:
import feather
import numpy
import pandas as pd
import matplotlib.pyplot as plt
from pandas.tools.plotting import scatter_matrix

# Read feather frames to individual variables

anp_df = feather.read_dataframe('data_science_case/anp.feather')
face_df = feather.read_dataframe('data_science_case/face.feather')
image_df = feather.read_dataframe('data_science_case/image_data.feather')
metrics_df = feather.read_dataframe('data_science_case/image_metrics.feather')
object_labels_df = feather.read_dataframe('data_science_case/object_labels.feather')
survey_df = feather.read_dataframe('data_science_case/survey.feather')

## Investigate ANP matrix:

In [4]:
anp_df.head()

,image_id,anp_label,anp_sentiment,emotion_score,emotion_label
0,951727030670259635_143763900,hot_boys,0.017,0.1760,amazement
1,951727030670259635_143763900,young_couple,0.019,0.2113,joy
2,951727030670259635_143763900,dirty_laundry,-0.263,0.0929,joy
3,951727030670259635_143763900,global_mall,-0.031,0.1304,interest
4,951728575726873168_289794729,high_boots,0.025,0.1394,amazement

For each image, we are given a certain 'topic/label' classification

In [5]:
print anp_df.emotion_label.unique()

[u'amazement' u'joy' u'interest' u'sadness' u'anger' u'terror' u'serenity'
 u'fear' u'trust' u'surprise' u'grief' u'rage' u'boredom' u'ecstasy'
 u'annoyance' u'disgust' u'pensiveness' u'acceptance' u'distraction'
 u'anticipation' u'vigilance' u'loathing' u'apprehension' u'admiration']

Basically, each image is assigned a label (ex. hot_boys, young_couple, dirty_laundry) and each label has a certain emotion label (ex. Joy, vigilance, interest etc) along with a score (emotion_score) which corresponds to what is the percentage of "joy" in the "dirty laundry" label

In [6]:
anp_df.describe()

       anp_sentiment  emotion_score
count  325941.000000  325941.000000
mean        0.064778       0.162398
std         0.396601       0.070143
min        -2.363000       0.041700
25%        -0.068000       0.114800
50%         0.010000       0.146200
75%         0.158000       0.194900
max         2.160000       0.734700

<img src="./24_emotions_of_Plutchik.png"/>

Basically, each image is assigned a label (ex. hot_boys, young_couple, dirty_laundry) and each label has a certain <b>emotion label</b> out of the 24 emotions of Putchnik

Each Putchnik emotion label  (ex. Joy, vigilance, interest etc) along with a score (emotion_score) which corresponds to what is the percentage of "joy" in the "dirty laundry" label

In [7]:
for anp_label in anp_df['anp_label'].unique()[:10]:
    print 'Images labeled with the ',anp_label, 'tag: show',anp_df[(anp_df.anp_label==anp_label)].emotion_score.unique()[0],anp_df[(anp_df.anp_label==anp_label)].emotion_label.unique()[0]

Images labeled with the  hot_boys tag: show 0.176 amazement
Images labeled with the  young_couple tag: show 0.2113 joy
Images labeled with the  dirty_laundry tag: show 0.0929 joy
Images labeled with the  global_mall tag: show 0.1304 interest
Images labeled with the  high_boots tag: show 0.1394 amazement
Images labeled with the  funny_pets tag: show 0.1924 joy
Images labeled with the  slow_motion tag: show 0.1141 interest
Images labeled with the  funny_dog tag: show 0.2859 joy
Images labeled with the  working_group tag: show 0.1234 amazement
Images labeled with the  old_friends tag: show 0.127 joy

In [8]:
#verify that each ANP label has the same emotion labels and scores across all images
anp_df[(anp_df.emotion_label=='joy') & (anp_df.anp_label=='young_couple')][:3]

,image_id,anp_label,anp_sentiment,emotion_score,emotion_label
1,951727030670259635_143763900,young_couple,0.019,0.2113,joy
1016,956837953127354719_6734387,young_couple,0.019,0.2113,joy
1679,961014334304796262_143854846,young_couple,0.019,0.2113,joy

In [9]:
#plot some of the lowest emotion scores
anp_df[anp_df.emotion_score == anp_df.emotion_score.min()][::50]
#aparently no one gives a shit about flat lakes, snowy plovers or gold_bridges

,image_id,anp_label,anp_sentiment,emotion_score,emotion_label
9612,581742959299903837_21697543,flat_lake,-0.036,0.0417,interest
44932,844465605783354211_187539125,snowy_plover,0.013,0.0417,vigilance
103220,472461365156868908_25469443,snowy_plover,0.013,0.0417,anger
125497,640658853911311267_55281515,flat_lake,-0.036,0.0417,boredom
158622,888102345472019372_11520833,snowy_plover,0.013,0.0417,loathing
195058,1347305921630342109_619868570,snowy_plover,0.013,0.0417,sadness
206081,1396432770201223841_3807589911,snowy_plover,0.013,0.0417,distraction
261877,472461365156868908_25469443,snowy_plover,0.013,0.0417,amazement
278568,1016105401709793550_6734387,gold_bridge,-0.004,0.0417,fear
313835,1212399656613744758_6734387,gold_bridge,-0.004,0.0417,acceptance

In [10]:
#Whats the ANP label with the most highly correlated emotion?
anp_df[anp_df.emotion_score == anp_df.emotion_score.max()]

,image_id,anp_label,anp_sentiment,emotion_score,emotion_label
42212,821358342425467127_31736205,junior_team,-0.104,0.7347,joy
150859,821358342425467127_31736205,junior_team,-0.104,0.7347,joy

## Investigate face_df

In [11]:
face_df.head()

,image_id,face_id,face_gender,face_gender_confidence,face_age_range_high,face_age_range_low,face_sunglasses,face_beard,face_beard_confidence,face_mustache,face_mustache_confidence,face_smile,face_smile_confidence,eyeglasses,eyeglasses_confidence,face_emo,emo_confidence
0,1003944279371027183_703978203,6.0,Female,98.741425,38.0,20.0,False,False,99.998474,False,99.999794,False,99.916168,True,95.395546,SAD,12.660271
1,1003944279371027183_703978203,6.0,Female,98.741425,38.0,20.0,False,False,99.998474,False,99.999794,False,99.916168,True,95.395546,CALM,8.252973
2,1003944279371027183_703978203,6.0,Female,98.741425,38.0,20.0,False,False,99.998474,False,99.999794,False,99.916168,True,95.395546,SURPRISED,24.634266
3,1003944279371027183_703978203,68.0,Male,99.927521,77.0,57.0,False,False,99.981598,False,99.993256,False,84.395294,True,99.420914,HAPPY,53.603287
4,1003944279371027183_703978203,68.0,Male,99.927521,77.0,57.0,False,False,99.981598,False,99.993256,False,84.395294,True,99.420914,SAD,5.509090

In [19]:
face_df.face_emo.unique()

array([u'SAD', u'CALM', u'SURPRISED', u'HAPPY', u'ANGRY', u'CONFUSED',
       u'DISGUSTED'], dtype=object)

In [15]:
face_df[face_df.face_id==6].image_id.unique()

array([u'1003944279371027183_703978203', u'1033087147816285039_2062266819',
       u'1037683670639420072_265063047', u'1047215122351788754_703978203',
       u'1093873696185441499_46329534', u'1119217011730655101_481709584',
       u'1104740009251237357_452851338', u'1138955119085200031_265063047',
       u'1150050327748798797_289794729', u'1198728468760038729_242886474',
       u'1250334363540159661_1619510', u'1253288680550029702_53918317',
       u'1255153391978620792_288335200', u'1241646866162536985_249861555',
       u'1273955377204980622_3417740025', u'1367603945475797050_325893678',
       u'1330826916785979304_235671446', u'1349652396028007118_3041716852',
       u'1351769909839102619_34069800', u'1401382493533586371_244047076',
       u'1433016470283815424_372088523', u'1408061263501814861_287562303',
       u'1463497448172783755_235671446', u'1526697378736036722_235671446',
       u'1516940729463761881_372088523', u'1523680577910342346_288335200',
       u'1502829845158186709_288335200', u'1508389086862623858_289794729',
       u'222619583180782881_22180590', u'215416977173855623_22180590',
       u'489923547771822292_55520631', u'374573599824668919_289794729',
       u'535418832749391085_452851338', u'50435826_2829661',
       u'627756294709682875_265063047', u'711920803025425254_246095675',
       u'669248436292769906_183823541', u'728379747293406441_288335200',
       u'649938731027674805_30837828', u'661040611415238150_288335200',
       u'724194595638284736_242494547', u'813898819103746215_289794729',
       u'723465214783733559_22180590', u'791043361288168710_288335200',
       u'767007630932999316_1619510', u'799225068368608141_50853245',
       u'884204731196410929_48972978', u'877095251344682171_452851338',
       u'888083296473673975_25469443', u'907461252120848734_262136545',
       u'990947634741342494_25469443', u'968765912021649249_7410944'], dtype=object)

In [17]:
face_df[face_df.face_id==68].image_id.unique()

array([u'1003944279371027183_703978203', u'1004641390973853146_1600397470',
       u'1005437901930328421_25469443', u'1019701313080178099_545497348',
       u'1022680828042207385_13745951', u'1023119179100895389_50853245',
       u'1023195246083088281_1600397470', u'1026884393467324289_288335200',
       u'1031409866627259791_1600397470',
       u'1030698064156207776_1804133497',
       u'1028195508052991412_1600397470',
       u'1031449440933409165_2062266819', u'1037765269748111439_31736205',
       u'1041690397236181862_50853245', u'1043615270849979288_265063047',
       u'1039877445660566185_55520631', u'1050312984811934717_703978203',
       u'1053215604232659161_265063047', u'1051909114666393795_265063047',
       u'1057508306903973371_22180590', u'1050841776251883710_276232195',
       u'1062696778891723913_34069800', u'1071063239428690938_2032642067',
       u'1071047100158719995_30837828', u'1073471183808795100_246095675',
       u'1088582058421790813_262136545', u'1077703661415180124_3069744',
       u'1101384548652498341_22180590', u'1103297911469809648_235671446',
       u'1100615491030261142_1600397470', u'1079654794757911205_55281515',
       u'1093214969717497148_1600397470',
       u'1082923347061061082_2143580844', u'1111899577281920824_143854846',
       u'1088691760325258876_452851338', u'1122713570020090169_13745951',
       u'1124837247639593200_265063047', u'1127092559922992050_703978203',
       u'1128749600499323226_2032642067', u'1108191190459297901_52590715',
       u'1108200234859227750_289794729', u'1108845126580736042_6734387',
       u'1107946500367487294_246095675', u'1138710594736034136_372088523',
       u'1111384768766189156_235671446', u'1116144049081505874_1097967773',
       u'1117620567778172751_235671446', u'1120699819173361558_30837828',
       u'1137080669636877094_1097967773', u'1133669091363706914_31736205',
       u'1139217533886730261_372088523', u'1131931771877134570_372088523',
       u'1147305004498158100_287562303', u'1163459034443026602_703978203',
       u'1151642309651504553_235671446', u'1148010182973601232_30837828',
       u'1154698464793334233_703978203', u'1137748106479025997_33420910',
       u'1160625993878588817_619868570', u'1160627635604671925_619868570',
       u'1147517760528874625_1619510', u'1165308581494569653_50853245',
       u'1175732966495795819_50853245', u'1169801458667134420_235671446',
       u'1156084665043897382_619868570', u'1184405061873246726_494837119',
       u'1194416566937371592_1901242351', u'1185107714403265949_452851338',
       u'1174663936828002502_249861555', u'1181387838842687759_195148027',
       u'1208095688375338693_34069800', u'1184539704659713624_235671446',
       u'1207373523863133178_31736205', u'1203564568886365778_619868570',
       u'1233772775999813759_2270275269', u'1210189371424291736_50853245',
       u'1215562763198354128_1976682131', u'1235793550818835689_1619510',
       u'1224131687657813459_545497348', u'1220268184177233927_249861555',
       u'1233521771227320518_372088523', u'1244272723974339161_50853245',
       u'1228511345499882521_7410944', u'1240772429119699943_2264409557',
       u'1241970452961076416_1950544520', u'1250398961229274482_235671446',
       u'1247303611085162491_34069800', u'1252445890557981089_42566739',
       u'1261685118737879168_6734387', u'1255161302319689111_452851338',
       u'1265319470192614234_183823541', u'1253854100671194115_145242840',
       u'1288640987971600831_619868570', u'1265344066368715938_33420910',
       u'1273395389210502672_288335200', u'1281458912880875153_48972978',
       u'1291388389673033196_452851338', u'1278010050511019095_235671446',
       u'1281420012740974430_703978203', u'1276363209107247372_372088523',
       u'1286713112737084093_206726006', u'1294334388615661473_183823541',
       u'1295978824378647420_244047076', u'1361801796108012862_262136545',
       u'1314035352592113969_145242840', u'1315484919925117497_244047076',
       u'1336611124355116747_1901242351', u'1325526231248163414_703978203',
       u'1340975313371191063_276232195', u'1332664773053247354_22180590',
       u'1372714856617377897_1901242351', u'1376990603119782623_30837828',
       u'1337046836732967417_22180590', u'1385146318296941207_183823541',
       u'1361890816931227000_372088523', u'1365628851448158380_1901242351',
       u'1365346011048250622_2932434558', u'1363196200517465099_30837828',
       u'1358141051382133362_287562303', u'1400910611768393217_143763900',
       u'1362009469605620481_235671446', u'1374954614138717207_183823541',
       u'1421455043290316015_3988856', u'1364175630329085791_30837828',
       u'1422173875139887367_619868570', u'1423734459878659749_1804133497',
       u'1389968575229683048_246095675', u'1377974644359283587_34069800',
       u'1405695807243548933_1976682131',
       u'1395838611555264474_2270275269', u'1418989455112431944_287562303',
       u'1387335400976526092_244047076', u'1454066587598267315_1708321363',
       u'1408343122718673645_2092276386', u'1427714893531920729_31447990',
       u'1413170206079713954_55281515', u'1423109860602830104_1901242351',
       u'1412769465271500676_34069800', u'1433425790539937960_3417740025',
       u'1437960571009639317_452851338', u'1423110568735638538_1901242351',
       u'1408061263501814861_287562303', u'1429901559738684935_30837828',
       u'1429986492272790572_2264409557', u'1432980401441300302_242494547',
       u'1432152946582554315_289794729', u'1442468533979298720_30837828',
       u'1474727143443660143_263042348', u'1449542066697887528_30837828',
       u'1423507145245475109_2932434558', u'1490395148722776778_235671446',
       u'1427003127425243936_316760531', u'1488100471554182142_235671446',
       u'1453994651501401058_143763900', u'1493682555605399544_143763900',
       u'1519045211328952876_203407563', u'1522788821023014937_372088523',
       u'1522934158632403764_30837828', u'1495000228972245763_287562303',
       u'1472880950266723153_235671446', u'1472538638687700012_30837828',
       u'1479233493200199670_195148027', u'1487877876945962447_2264409557',
       u'1488573113158706260_203407563', u'174704524772789303_30738858',
       u'1452435880303318457_3648088105', u'1489592828127665716_34069800',
       u'1474336582219567390_619868570', u'170137993271873701_6734387',
       u'1479094572139653214_50853245', u'1517755452253922552_2123557533',
       u'1523605577043920202_242494547', u'1522110588359300869_1600397470',
       u'1529185147398979524_452851338', u'1524254333691284329_2932434558',
       u'1524311701032658258_451627351', u'1496078140581558155_7410944',
       u'177412604193915419_21697543', u'1499881880312302653_703978203',
       u'195145338125998579_31736205', u'332674068832940360_25469443',
       u'1505398526007193719_451627351', u'246165169754116140_6734387',
       u'237998466926941139_6734387', u'249527547060877208_143763900',
       u'267078676631377130_18108188', u'1515458305127619178_195148027',
       u'266231300363743304_25469443', u'216104360945312404_13745951',
       u'266238284270648593_206726006', u'270971525263881013_20621627',
       u'272349568341031321_50853245', u'367593022562964457_242494547',
       u'1529839901515484546_31447990', u'251681555847251116_34069800',
       u'1534910221893733033_30837828', u'260999867908321867_20621627',
       u'387095528899301488_195148027', u'310326670220033600_237464830',
       u'161939026516209902_25469443', u'194300837412680686_52590715',
       u'308296509005329172_8854187', u'211700045711913850_55281515',
       u'316793757146744376_34069800', u'330734019665032118_25469443',
       u'330578369584992671_246095675', u'345593513717204682_34069800',
       u'352604744323862774_246095675', u'359485279868999814_31736205',
       u'352930531384418681_13745951', u'363173978951028878_246095675',
       u'464497208932154692_206726006', u'384625376631780869_143763900',
       u'385563442410779642_25469443', u'372663283562242297_13745951',
       u'358925250219774591_6734387', u'483425993232098650_3069744',
       u'424003069165338063_1619510', u'403593225212433187_246095675',
       u'513731689487627064_25469443', u'514069292296601450_1619510',
       u'460383282883031048_25469443', u'520222223226813335_50853245',
       u'444227669_11520833', u'449447609387426654_265063047',
       u'455331487663584261_143763900', u'483131619191995299_50853245',
       u'492524271839233036_3988856', u'492869757914987620_33420910',
       u'464527609930485983_6734387', u'508876555802530273_276232195',
       u'575413039812202769_276232195', u'446197937673790441_13745951',
       u'474016831759073095_33420910', u'491609422306092742_3069744',
       u'492974700762413180_50853245', u'525490281802122269_3988856',
       u'502967851978001615_242886474', u'495225865198989346_25469443',
       u'502479981612724361_25469443', u'547906821527937899_265063047',
       u'619129396422047413_143763900', u'624315453131208382_30837828',
       u'546539876851000827_3069744', u'544619904077444150_263042348',
       u'577880176952812815_288335200', u'592787141300474763_276232195',
       u'650203823480132179_276232195', u'651037243906256369_452851338',
       u'566891864115880145_265063047', u'653011966104132527_183823541',
       u'653898117772628890_276232195', u'607324129991757108_48972978',
       u'549463531503055392_25469443', u'655791328969565674_288335200',
       u'618402958363191522_289794729', u'628307898263331036_13745951',
       u'675460637505519101_1619510', u'574122834344991286_31736205',
       u'676832612133786541_276232195', u'649631552599551199_452851338',
       u'578241542608207030_22180590', u'642163833941429538_48972978',
       u'598248289368052490_6734387', u'667352988748239653_276232195',
       u'696701658126172000_22180590', u'654718620550860883_6734387',
       u'703167816295712681_34069800', u'700943462796080054_55281515',
       u'639864342217164214_34069800', u'702346522595108642_288335200',
       u'703980444597803095_31736205', u'715362546740562972_242886474',
       u'648503226197249869_48972978', u'723879775164469543_6734387',
       u'696710354615580758_50853245', u'745864472526267565_288335200',
       u'743374431558193185_276232195', u'682666359938414302_143763900',
       u'787853608230246781_31736205', u'675566578980782079_1619510',
       u'758248930164850644_143854846', u'757528798886164456_143763900',
       u'710473980219703484_555477511', u'712573594677784895_55281515',
       u'717485459064394029_246095675', u'784698533963350660_21697543',
       u'844189101439509222_13745951', u'828199217188344362_6734387',
       u'725368706531796556_288335200', u'829946913954439516_265063047',
       u'751718577671517650_30837828', u'739472758610235441_246095675',
       u'851581103854559346_265063047', u'766960436193187975_31736205',
       u'769142951372231123_416455611', u'831455918593147237_287562303',
       u'832470770022592688_55281515', u'793546205111598837_22180590',
       u'796707675802538940_416455611', u'768316503170671615_13745951',
       u'773347848601669707_372088523', u'839443157169126024_50853245',
       u'785457365631824191_1308763259', u'888044167759024207_276232195',
       u'900111679533753421_3069744', u'782801241738762475_31736205',
       u'909788797191262897_372088523', u'809636817644750251_34069800',
       u'866131078260995532_30837828', u'831977138459817610_545497348',
       u'834399958670136110_276232195', u'839849883464549539_7410944',
       u'854676846152195006_312682501', u'834142873636737258_246095675',
       u'848776043330200211_13745951', u'957237722323790700_1804133497',
       u'956892635409876163_34069800', u'895684762559558317_55281515',
       u'907488147107419028_372088523', u'973682719775309931_1901242351',
       u'982052879035216861_52590715', u'916689071591569967_50853245',
       u'897358986998897125_31736205', u'985540924831568703_703978203',
       u'921032009670857690_703978203', u'931149055118786451_143854846',
       u'949414300879220111_452851338', u'956191883074657833_46329534',
       u'959035026853996253_3069744', u'961286399536524215_289794729',
       u'965386274272263752_22180590', u'944570600183174130_703978203',
       u'971846770097577920_46329534', u'980659540449357135_452851338',
       u'965185985907440267_50853245', u'987200981069390506_13745951',
       u'992866774926266525_6734387', u'975604953997811574_1600397470'], dtype=object)

In [18]:
face_df[face_df.face_id==43].image_id.unique()

array([u'1000126179441391393_30837828', u'1002379244483879429_265063047',
       u'1005208437899006127_703978203', u'1008919842189085215_1508580385',
       u'1015167181504297657_50853245', u'1020039098149572675_372088523',
       u'1018138219065426633_1901242351', u'1016266728932061350_52590715',
       u'1025493698880638926_48972978', u'1027752914162419810_1508580385',
       u'1034297114384012322_190011156', u'1045631250754824202_289794729',
       u'1046405211291845649_531942752', u'1047339448896648362_143763900',
       u'1051846697123189318_703978203', u'1050822613961848595_545497348',
       u'1056799439775505885_1600397470', u'1065386827092286186_183823541',
       u'1062609832634847755_416455611', u'1071828136522898141_183823541',
       u'1082133558126944457_265063047', u'1073468458542993820_246095675',
       u'1081851010918562642_50853245', u'1088042086580069910_481709584',
       u'1083318303388582244_21697543', u'1095115317902971136_703978203',
       u'1092936288097229374_1097967773', u'1127959619062665830_372088523',
       u'1101427858258137447_703978203', u'1131249687298265345_195148027',
       u'1108186249092429720_244047076', u'1113353930815389608_22180590',
       u'1143812012644705789_288335200', u'1122067141591924534_325893678',
       u'1126215714709377058_372088523', u'1152479252584269447_34069800',
       u'1133332095305191925_372088523', u'1148275014397621500_244047076',
       u'1153300672281762672_31736205', u'1160382630073900932_235671446',
       u'1162661405756887586_703978203', u'1168923698326330434_46329534',
       u'1169711554660988014_143763900', u'1172781435527289902_46329534',
       u'1167644071623266649_703978203', u'1190564951852294605_265063047',
       u'1187976698425529158_249861555', u'1201089269173080706_249861555',
       u'1216104645380296911_249861555', u'1200496573905590492_183823541',
       u'1178703673418928568_1708321363', u'1190282761660719749_13745951',
       u'1228230751906451875_249861555', u'1188059612994682389_22180590',
       u'1232953707576335576_235671446', u'1207502338640073669_249861555',
       u'1235734945744753914_650122500', u'1208786693764363173_52590715',
       u'1213005798475059695_249861555', u'1245029019159552492_13745951',
       u'1226621971779900272_1976682131',
       u'1210341021729559128_1441644483', u'1241451813790905149_25469443',
       u'1223502943260259503_30837828', u'1230792528342734924_31736205',
       u'1223116280315500827_53918317', u'1224323241343783751_3092060835',
       u'1255153391978620792_288335200', u'1270641955934332240_145242840',
       u'1270663098170893342_145242840', u'1244222356681412943_249861555',
       u'1260336501245524448_50853245', u'1282190371379725061_2092276386',
       u'1253929641502593037_249861555', u'1263067011745164449_2092276386',
       u'1266026148306642090_145242840', u'1264810650279555860_52590715',
       u'1301092083339141833_52590715', u'1273144368583102756_195148027',
       u'1311032320501640488_235671446', u'1274299396355783926_2321879606',
       u'1300904299735789673_143854846', u'1300112642639183906_703978203',
       u'1303278780835539902_703978203', u'1289933083139550740_7410944',
       u'1285066625305125536_1901242351', u'1309780584822673476_249861555',
       u'1291452030795255890_1976682131', u'1351839596262757070_235671446',
       u'1317462421652197664_31736205', u'1314827533489753702_588452400',
       u'1303942089352274063_289794729', u'1323374228875504502_312682501',
       u'1312064161840297689_1708321363', u'1314870380251219917_650122500',
       u'1325747571456756084_50853245', u'1332854358136052130_50853245',
       u'1319981051409361515_481709584', u'1327030833009957824_242886474',
       u'1335893548440073487_52590715', u'1324682014321840323_372088523',
       u'1342507467858288133_183823541', u'1338420559365441523_619868570',
       u'1379043896458482660_3041716852', u'1383113034306561899_372088523',
       u'1346116703772128382_34069800', u'1340754888770128714_265063047',
       u'1356180382713996062_1654216643', u'1389675100182084250_288335200',
       u'1356287531158671657_3069744', u'1371893128969318426_48972978',
       u'1374264427305944939_244047076', u'1374674787523338673_325893678',
       u'1376279104516595912_52590715', u'1383714369062302659_13745951',
       u'1364175630329085791_30837828', u'1369230612028066769_452851338',
       u'1386617830632287767_13745951', u'1392430892387288968_25469443',
       u'1416502870895013650_451627351', u'1401980645550481301_1097967773',
       u'1444563479734757981_1097967773',
       u'1418354518614354022_2123557533', u'1408963211281256513_703978203',
       u'1437086837566218609_451627351', u'1466199577992232747_451627351',
       u'1417774629870844977_1976682131', u'1421417898350452025_372088523',
       u'1406793604952960393_30837828', u'1425820193423072929_8854187',
       u'1428627527819913615_249861555', u'1441015636762700560_451627351',
       u'1453866657885115237_1654216643', u'1452343315638045544_545497348',
       u'1414746616799983763_289794729', u'1482784230013577618_190011156',
       u'1441376276820472332_288335200', u'1461964871511625022_703978203',
       u'1448269679180566498_451627351', u'1447972932282640388_1308763259',
       u'1436306198965188686_48972978', u'1507471600604184662_372088523',
       u'1422809915983348566_1901242351',
       u'1423115512209471093_1901242351', u'1516431832354394149_30837828',
       u'1522803173688810238_143763900', u'1495365534513784384_703978203',
       u'1526969532475071238_1654216643', u'1469787370978987225_619868570',
       u'1479152169654692112_452851338', u'1441801805545350811_452851338',
       u'189236111425657517_53918317', u'1519078570835952405_50853245',
       u'1509069615480051358_2932434558', u'1512460815970049092_30837828',
       u'1535827579200650880_288335200', u'1474362191204542192_2123557533',
       u'248113747020549068_11520833', u'1522113041222428548_30459359',
       u'1517755452253922552_2123557533', u'286595193720356565_22180590',
       u'291539917527202897_33420910', u'195649460314717957_33420910',
       u'1493886448565302189_3041716852', u'1526232039891097906_18108188',
       u'1526328332831720496_3988856', u'1524188752510308629_451627351',
       u'197222457056352624_31736205', u'1506301154622101485_46329534',
       u'201604931871294039_21697543', u'219723334195011619_13745951',
       u'239180974350153571_30837828', u'1534498663959473032_1708321363',
       u'208949575263272590_22180590', u'249842258575192587_8854187',
       u'347758346449331279_3069744', u'226800303854442233_18108188',
       u'183136286960977618_34069800', u'299051141206277184_1619510',
       u'281734326193126655_1619510', u'289409709591919774_1619510',
       u'239458686207300583_6734387', u'1532130783459665884_1619510',
       u'312493485151686039_242886474', u'311130819576544795_22180590',
       u'254470318384232033_30837828', u'250084649777035106_143763900',
       u'409027265600066145_246095675', u'283582752601470544_143763900',
       u'328486356274020344_1619510', u'311018776128064557_242886474',
       u'444886192199646458_22180590', u'360967322065998465_6734387',
       u'372007787163194221_246095675', u'477112974960849488_25469443',
       u'318719318861481708_34069800', u'387908820032678198_289794729',
       u'397741553750293365_50853245', u'403883694911776889_289794729',
       u'406375057674008311_143763900', u'367496804185334460_13745951',
       u'393400275052346682_22180590', u'424306047830927072_288335200',
       u'363985142591496721_265063047', u'427628913732941736_143763900',
       u'427655935743156841_13745951', u'403244072086743028_288335200',
       u'400924451942368969_34069800', u'419649625040631705_30837828',
       u'435750354358510933_3069744', u'371033854155046399_33420910',
       u'496342065080078155_48972978', u'377750421314386496_50853245',
       u'447480126566470405_246095675', u'450554331838346419_143763900',
       u'448170111393152313_22180590', u'412890994255519748_13745951',
       u'513952289742400354_262136545', u'398797535919670297_34069800',
       u'418277295435452705_246095675', u'431885869576073258_55281515',
       u'473854651864268505_22180590', u'404598236318961996_246095675',
       u'534726473468407603_452851338', u'548676521283467677_50853245',
       u'558700280460146388_143763900', u'496290242161222798_288335200',
       u'501909706432595579_3988856', u'477796451468769034_143763900',
       u'571898284726451574_1619510', u'455287918458663169_8854187',
       u'479053524127813809_416455611', u'491562416720154655_416455611',
       u'581533779064202472_288335200', u'523387667904625922_1619510',
       u'492974700762413180_50853245', u'494353949043647183_13745951',
       u'494823961474874640_206726006', u'504168084103160679_13745951',
       u'608787654804892630_289794729', u'566159241326006359_246095675',
       u'555098992098124024_265063047', u'521568893610680715_13745951',
       u'621411556469684580_50853245', u'524967118732126616_289794729',
       u'536350852756988814_13745951', u'537970418169040954_276232195',
       u'555380888751631504_452851338', u'642250925632857745_288335200',
       u'594228655218767586_30837828', u'603694051581175276_288335200',
       u'565275487003140471_13745951', u'572074727191966275_8854187',
       u'661800917872012177_289794729', u'616975967680282596_22180590',
       u'622794549872778203_183823541', u'662466884688013362_289794729',
       u'579296257219268870_6734387', u'618488207818259885_1619510',
       u'579417220556952103_246095675', u'586940804462710355_48972978',
       u'652498721862526938_288335200', u'598248289368052490_6734387',
       u'605952764271321406_13745951', u'658311784298633958_31736205',
       u'659773728462673376_650122500', u'619575964588586624_30837828',
       u'621367642643675688_50853245', u'679834026089214839_25469443',
       u'685570923214486836_22180590', u'640461032482205141_452851338',
       u'722579105715568285_143854846', u'725988588148551548_452851338',
       u'654498589919301956_276232195', u'657983720929830369_288335200',
       u'740668424114869169_372088523', u'747297929867449185_276232195',
       u'675566578980782079_1619510', u'773457537922437789_372088523',
       u'699992953574316570_31736205', u'702898740977636014_246095675',
       u'817573767450387390_13745951', u'817573891299795905_13745951',
       u'824293514354659888_6734387', u'718865214376492760_143854846',
       u'773447901181283570_48972978', u'828992483756478832_1441644483',
       u'708644461263003915_494837119', u'804572115251295936_143763900',
       u'738687416704088623_50853245', u'751743336909798432_1619510',
       u'748735699346236341_265063047', u'740802871765941003_50853245',
       u'850896690179692958_183823541', u'853929870446203581_246095675',
       u'746385474946086533_30837828', u'85490967_3988856',
       u'773444209145745752_372088523', u'857966468876392492_31736205',
       u'831300354457131242_31736205', u'898895501758993074_246095675',
       u'783609759167331004_50853245', u'812309304488267825_6734387',
       u'908777285640426414_246095675', u'910454209156932125_13745951',
       u'925411605738609089_31736205', u'930820560415111166_30837828',
       u'933687933271478284_372088523', u'831945507133178289_21697543',
       u'819491652628102967_143854846', u'839925613890067428_1097967773',
       u'944124039674378818_50853245', u'928205668211291284_143763900',
       u'850155720325501405_6734387', u'845104507326463437_1619510',
       u'853021395075663561_34069800', u'831769786211537053_246095675',
       u'863160970760049571_276232195', u'888086870203286454_21697543',
       u'955983761063606223_143763900', u'838712281409960726_50853245',
       u'874187957992609843_31736205', u'898980781070231554_262136545',
       u'891667200841695104_22180590', u'867103929111094923_288335200',
       u'967500587212398011_46329534', u'976472390714657330_1508580385',
       u'885709174497014371_1308763259', u'905957005314099519_1508580385',
       u'936569353544575259_275510681', u'966091342254716491_30837828',
       u'975455640023560558_8854187', u'961650288115706569_289794729',
       u'986974968447294841_395595054', u'971742281259422346_703978203',
       u'976473075032132166_1508580385'], dtype=object)

## Investigate image_df

In [25]:
image_df.head()

,image_id,image_link,image_url,image_height,image_width,image_filter,image_posted_time_unix,image_posted_time,data_memorability,user_id,user_full_name,user_name,user_website,user_profile_pic,user_bio,user_followed_by,user_follows,user_posted_photos
0,1316962883971761394_3468175004,https://www.instagram.com/p/BJGysPxgsTy/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Lo-fi,1471214231,14-08-2016 22:37:11,0.800521,3468175004,Leah Jenkins,leah.chelle,,https://scontent.cdninstagram.com/t51.2885-19/...,,7.0,0.0,1.0
1,552382455733335946_263042348,https://www.instagram.com/p/eqdOq2JLeK/,https://scontent.cdninstagram.com/t51.2885-15/...,612.0,612.0,Normal,1380069141,25-09-2013 00:32:21,0.875568,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0
2,594552614686078174_263042348,https://www.instagram.com/p/hARnP2pLTe/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Vesper,1385096216,22-11-2013 04:56:56,0.672679,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0
3,553884883234370621_263042348,https://www.instagram.com/p/evy13fpLQ9/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Amaro,1380248245,27-09-2013 02:17:25,0.843525,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0
4,725551583154452417_263042348,https://www.instagram.com/p/oRrVIcJLfB/,https://scontent.cdninstagram.com/t51.2885-15/...,640.0,640.0,Amaro,1400712510,21-05-2014 22:48:30,0.859796,263042348,Taylor Degruise,taylordegruise,,https://scontent.cdninstagram.com/t51.2885-19/...,,316.0,347.0,73.0

## Investigate object_labels_df

In [26]:
object_labels_df.head()

                        image_id data_amz_label  data_amz_label_confidence
0   863479386465416946_545497348         Animal                  90.163101
1   916939688871507178_545497348         Animal                  83.518669
2   551681403589539797_545497348         Animal                  74.837212
3  1189285646274180856_545497348         Animal                  76.920967
4   962361211517974133_545497348         Animal                  71.223869

## Investigate metrics_df

In [27]:
metrics_df.head()

,image_id,comment_count,comment_count_time_created,like_count,like_count_time_created
0,1337283311810249709_3041716852,0.0,19-06-2017 19:33:26,15.0,19-06-2017 19:23:26
1,1337283311810249709_3041716852,0.0,19-06-2017 19:23:26,15.0,19-06-2017 19:23:26
2,1337834353379743556_3041716852,0.0,19-06-2017 19:33:26,23.0,19-06-2017 19:23:26
3,1337834353379743556_3041716852,0.0,19-06-2017 19:23:26,23.0,19-06-2017 19:23:26
4,1516356155708878303_3041716852,5.0,19-06-2017 19:23:07,19.0,19-06-2017 19:23:07

## Investigate our Y variables (Survey dataframe)

In [28]:
survey_df.head()

,id,gender,born,education,employed,income,A_2,N_1,P_1,E_1,...,P,E,R,M,A,PERMA,N_EMO,P_EMO,imagecount,private_account
0,920bf027f7d13dbdc7b66b3d3324903c,Male,1975,College graduate,Employed for wages,"$30,000 to $39,999",4,5,5,3,...,5,3.0,6.0,6.0,4.0,5,5.0,5,465.0,public
1,b433b2bfe49e28d0b7c45925b53084e0,Male,1978,College graduate,Employed for wages,"$20,000 to $29,999",8,0,9,7,...,9,7.0,9.0,8.0,7.0,9,0.0,9,6.0,public
2,4becd8768d42ffa6ef0a17d827f230a2,Male,1980,High school graduate,Self-employed,"$40,000 to $49,999",7,7,6,9,...,6,9.0,6.0,6.0,8.0,6,7.0,6,NaN,private
3,01d90eeb34866d03c52925738da7865f,Male,1959,College graduate,Employed for wages,"$10,000 to $19,999",6,4,1,5,...,1,5.0,3.0,3.0,3.0,1,4.0,1,NaN,private
4,f4f54676f75f47c17dc434cf68845328,Female,1990,High school graduate,Employed for wages,"$80,000 to $89,999",7,3,8,7,...,8,7.0,8.0,8.0,7.0,8,3.0,8,767.0,public

In [29]:
print survey_df['start_q'].max()
print survey_df['start_q'].min()
print survey_df['end_q'].max()
print survey_df['end_q'].min()

2017-03-23 15:11:19
2016-12-05 14:01:21
2017-03-23 15:16:17
2016-12-05 14:02:52